In [30]:
#create myTuple with the following values"Npower", "JDA","Tuesday",30,3
my_Tuple = ("Npower", "JDA","Tuesday",30,3)
print(my_Tuple)

('Npower', 'JDA', 'Tuesday', 30, 3)

In [31]:
#what is the type of my_Tuple
type(my_Tuple)

tuple

In [32]:
#length of my_Tuple
Length_of_my_Tuple=len(my_Tuple)
print(Length_of_my_Tuple)

5

In [33]:
#print the values in each index
print(my_Tuple[0])
print(my_Tuple[1])
print(my_Tuple[2])
print(my_Tuple[3])
print(my_Tuple[4])

Npower
JDA
Tuesday
30
3

In [34]:
#print the values in each index #use negative indexing
print(my_Tuple[-1])
print(my_Tuple[-2])
print(my_Tuple[-3])
print(my_Tuple[-4])
print(my_Tuple[-5])

3
30
Tuesday
JDA
Npower

In [39]:
# what is the type of each value
type(my_Tuple[0])
type(my_Tuple[1])
type(my_Tuple[2])
type(my_Tuple[3])
type(my_Tuple[4])

int

In [41]:
#unpack myTuple in the following variables name,program,dayname,month,day,year# print the variables
name,program,dayname,month,day=my_Tuple
print(name)
print(program)
print(dayname)
print(month)
print(day)

Npower
JDA
Tuesday
30
3

In [42]:
#unpack myTuple2 in the following variable name,program,dayTime# what will happen to variables (name,program,daytime)and(month,day,year)
my_Tuple2=("Npower", "JDA","Tuesday",30,3)
name,program,dayname,month,day=my_Tuple2
print(name)
print(program)
print(dayname)
print(month)

Npower
JDA
Tuesday
30