In [1]:
#Give a list of numbers ,Return True if first
#and last number of a list is same
#list1=[1,2,5,4,1]
#list2=[5,6,3,2,1]
#list3=[88,44,55,66,77,88]
list1=[1,2,5,4,1]
list2=[5,6,3,2,1]
list3=[88,44,55,66,77,88]
if list1[0]==list1[-1]:
    print("True")
else:
    print("False")

if list2[0]==list2[-1]:
    print("True")
else:
    print("False")

if list3[0]==list3[-1]:
    print("True")
else:
    print("False")

True
False
True

In [2]:
#write a python functions that takes a list and Returns a new list with unique elements of the first#sample_list:[1,2,3,3,3,3,4,5]
#unique_list:[1,2,3,4,5]
sample_list=[1,2,3,3,3,3,4,5]
unique_list=[]
for i in sample_list:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

[1, 2, 3, 4, 5]

In [3]:
sample_list=[1,2,3,3,3,3,4,5]
unique_list=set(sample_list)
print(list(unique_list))

[1, 2, 3, 4, 5]

In [4]:
#write a python function to find the max of three numbers
MaxNumbers=max(22,23,24)
print(MaxNumbers)

24

In [6]:
#write python function that takes two inputs and return their sum value
Num1=input('Enter first number')
Num2=input("Enter Second number")
Sum=int(Num1)+int(Num2)
print(Sum)

Enter first number55
Enter Second number77
132

In [14]:
#write python function the takes a celsius temperature and converts it into farenheit
celsius=float(input("Enter temperature in celsius"))
farenheit=(celsius*9/5)+32
print(farenheit)

Enter temperature in celsius37
98.6

In [17]:
#write a python function to check whether a number is in a given range[5,12]
numbers = range(5,13)
for number in range(5,13):
  print(number in numbers)

True
True
True
True
True
True
True
True