<a href="https://colab.research.google.com/github/vivekaDA/GOAT/blob/main/Pythongroup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.DataFrame()
print
df.head()

Empty DataFrame
Columns: []
Index: []

In [24]:
import pandas as pd
d=[{'name':'viveka','Rollno':1},{'name':'Abi','Rollno':2},{'name':'Aad','Rollno':3}]
df=pd.DataFrame(d,index=['A','B','C'])
print(df)

     name  Rollno
A  viveka       1
B     Abi       2
C     Aad       3

In [27]:
import pandas as pd
d={'Mouse':[150,200,300,400],
'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}
df=pd.DataFrame(d,index=['Jan','Feb','March','April'])

#Write code to access data of Mouse and Scanner Columns.
print(df[['Mouse','Scanner']])

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [28]:
#write code to access data of the Keyboard column using dot notation and column name.
print(df.Keyboard)

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [30]:
#write code to access data of scanners using loc[]
print(df.loc[:,'Scanner'])

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [15]:
#write code to access data of all columns where mouse date is more than 200
print(df[df['Mouse']>200])

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [31]:
#write code to access using 0 and 2
print(df.iloc[[0,2]])

       Mouse  Keyboard  Scanner
Jan      150       180      200
March    300       190      330

In [32]:
#write code to access data of rows of jan and march for scanner and keyboard
print(df.loc[['Jan','March'],['Scanner','Keyboard']])

       Scanner  Keyboard
Jan        200       180
March      330       190